@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --main-color:#335192;
    --black-color: #252525;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s ease;
    outline: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    height: 100%;
    
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-color);
    height: 100%;

}

section{
    padding: 3.5rem 7%;
    scroll-margin-top: 9rem;
}

img{
    width: 100%;
    object-fit: contain;
}

a{
    text-decoration: none;
    color: var(--black-color);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30px;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
}

.btn:hover{
    opacity: 0.8;
}

.heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
}

.heading span{
    text-transform: uppercase;
    color: var(--black-color);
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.box{
    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem 2rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: var(--border);
}

.search-input{
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}

::-webkit-scrollbar{
    height: 0.5rem;
    width: 1rem;
    background-color: rgb(7, 126, 182);
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(92, 94, 91);
}

/* ------------------------------------------HEADER SECTION */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 3%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .logo img{
    height: 7rem;
    margin-left: 0.1rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.2rem solid transparent;
}
.header .auth a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.2rem solid transparent;
}

.header .navbar a.active,
.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom:.5rem ;
}

.header .buttons a{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
    cursor: pointer;
}
/* ------------------------------------------HEADER SECTION */


/* ------------------------------------------HOME SECTION */

.home{
    min-height: 100vh;
    background: url(./image/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -134px;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}

/* ------------------------------------------HOME SECTION */

/* ------------------------------------------MENU SECTION */
/* img .box-container ve .box  genel olarak düzenlendi */

.menu .box-container .menu-category{
    font-size: 1.2rem;
    text-transform: uppercase;
}

.menu .box-container .box h3{
    font-size: 3rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span{
    text-decoration: line-through;
    font-size: 1.5rem;
}
/* ------------------------------------------MENU SECTION */


/* ------------------------------------------PRODUCTS SECTION */
.products .box-container .box .box-head{
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 10;
}
.products .box-container .box .box-head .title{
    font-size: 1.4rem;
}

.products .box-container .box-head .name{
    font-size: 4rem;
    font-weight: bold;
    text-align: start;
    overflow-wrap: anywhere;
}

.products .box-container .box .box-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products .box-container .box .box-bottom .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.products .box-container .box-bottom .info .price{
    font-size: 3rem;
}
.products .box-container .box-bottom .info .amount{
    font-size: 1.5rem;
}

.products .box-container  .box-bottom .product-btn a{
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    border: 0.2rem solid var(--main-color);
}

.products .box-container  .box-bottom .product-btn a i{
    font-size: 1.6rem;
    color: var(--main-color);
}

/* ------------------------------------------PRODUCTS SECTION */

/* ------------------------------------------ABOUT US SECTION */
.about .row .image{
     flex: 1 1 45rem;
}
.about .row .image img{
    height: 50rem;
    object-fit: contain;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

/* ------------------------------------------REVIEW SECTION */

/* ------------------------------------------CONTACT SECTION */
.contact .row{
    display: flex;
    background-color: var(--black-color);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45px;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45px;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);
}

.contact .row form .inputBox i{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background-color: transparent;
}

.contact .row form .btn{
    color: var(--main-color);
    background-color: #fff;
    font-weight: bold;
}
/* ------------------------------------------CONTACT SECTION */



/* ------------------------------------------FOOTER SECTION */
.footer {
    background-color:#ccc;
    text-align: center;
    font-size: 20px;  
}
/* ------------------------------------------FOOTER SECTION */
.form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
    align-items: flex-end;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form p
{
font-size: medium;
}
.form p a 
{
font-size: medium;
color: #335192;
font-weight: bolder;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: medium;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.register-text
{
display: flex;
justify-content: center;
align-items: center;
padding-top: 10px;
}
.register-text a 
{
color: #335192;
font-weight:100099;
}
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #335192;
}
/* ------------------------------------------RESPONSIVE SECTION */
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .header .logo img{
        height: 7rem;
    }

    section{
        padding: 2rem;
    }
    .products .box-container .box .box-head .name{
        font-size: 3.4rem;
    }
}

@media (max-width: 768px){
    .header #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        background-color: #fff;
        height: calc(100vh - 9rem);
        width: 30rem;
        box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
        right: -100%;
    }
    .header .navbar.active{
        right: 3rem;
    }
    .header .navbar a{
        color: var(--black-color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
}

@media (max-width: 768px){
    html{
        font-size: 50%;
    }
}


